* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --softRed: #EC765F;
  --cyan: #76B4BB;
  --darkBrown: #382314;
  --mediumBrown: #93867B;
  --cream: #F8E9DD;
  --veryPaleOrange: #FFFAF4;
}

body {
  font-family: DM Sans;
  font-size: 18px;
}
